<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Content filter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../Scripts/vue.js"></script>
</head>

<body>
    <div id="app1">
        <input v-model="searchKey" v-model.trim="searchKey" type="text" v-on:keyup.enter="add" />
        <button @click="add">Add</button>
        <button @click="clear">Clear</button>

        <to-do v-for="item in filteredItems"
               v-bind:key="item.id"
               v-bind:item="item">
        </to-do>

    </div>
    <script>
        Vue.component('to-do',{
            props:['item'],
            template:`
            <h2>
                {{ item.id }} - {{ item.name }} - 完成:{{ item.isfinish }} <input type="checkbox" v-model="item.isfinish" />
            </h2>
            `
        });

        var vm = new Vue({
            el: "#app1",
            data: {
                searchKey: "",
                items: [{
                    id: 1,
                    name: "Task1",
                    isfinish: false
                },
                {
                    id: 2,
                    name: "Task2",
                    isfinish: false
                }]
            },
            computed: {
                filteredItems: function () {
                    var sk = this.searchKey;
                    if (sk) {
                        return this.items.filter(function (row) {
                            return Object.keys(row).some(function (key) {
                                return String(row[key]).toLowerCase().indexOf(sk) > -1
                            })
                        })
                    } else {
                        return this.items;
                    }
                }
            },
            methods: {
                add: function () {
                    var sk = this.searchKey;
                    if (this.searchKey) {
                        var cnt = this.items.filter(function (item) {
                            return item.name.trim() === sk.trim();
                        }).length;

                        if (cnt <= 0) {
                            var maxID = 0;
                            
                            var idArray = this.items.forEach(function (item) {
                                if (item.id > maxID)
                                    maxID = item.id;
                            });

                            if (maxID) {
                                this.items.push({
                                    id: maxID + 1,
                                    name: sk,
                                    isfinish: false
                                })
                                this.searchKey = "";
                            }
                        }
                    }
                    else {
                        console.error("nothing to add")
                    }
                },
                clear: function(){
                    this.items = this.items.filter(function(item){
                        return item.isfinish === false;
                    })
                },
                change: function($event) {
                    console.log('change called.');
                }
            }
        });
    </script>
</body>

</html>